{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
    <style>
    body {
  background-image: url("{% static 'glaaxy-theme1.jpg' %}");
  background-repeat: no-repeat;
    background-size: cover;
}
h2{
    all: initial;
    color:white;
}</style>
<center>
    <h1>Use These Credentials to login.</h1>
    <h2>User name: nvsai</h2>
    <br>
    <h2>Password: Nvsai222</h2>
    <br>
    <button onclick="window.location.href='/'">Login</button>
    <button onclick="window.location.href='https://github.com/nvsai/AIDiary'">Open github Repo</button>
    </center>
</html>
